{% extends 'myapp/base.html' %}

{% block cssfile%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}

{% block content %}

<br>
<h2 style="text-align: center;">Your booking has been confirmed!</h2>
<!-- Button to Open the Modal -->
<!-- Modal Header -->
<div class="modal-header">
    <h4 style="text-align: center;" class="modal-title">Ticket Details</h4>
</div>
<!-- Modal body -->
<div class="modal-body">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Bus name:</b> {{book.bus_name}}</li>
        <li class="list-group-item"><b>Starting point:</b> {{book.source}}</li>
        <li class="list-group-item"><b>Destination point:</b> {{book.dest}}</li>
        <li class="list-group-item"><b>Number of seats:</b> {{book.nos}}</li>
        <li class="list-group-item"><b>Price:</b> {{book.price}}</li>
        <li class="list-group-item"><b>Date:</b> {{book.date}}</li>
        <li class="list-group-item"><b>Time:</b> {{book.time}}</li>
    </ul>
</div>
<button style="text-align: center; display: block; margin: auto;" type="submit"><a href="/ticket/download/{{book_id}}/"> Download ticket</a></button>
{% endblock %}